# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environments
.env
.venv/
venv/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / Dist
build/
dist/

# Notebooks
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Caches / Models / Data
.cache/
models/
data/

# Logs
logs/